## Importing libraries

In [37]:
import pandas as pd
import numpy as np
import os

## 1. Import ords_prods_merge_derived Dataframe

In [38]:
import pandas as pd

In [39]:
path=r"C:\Users\tjsra\OneDrive\Desktop\INSTACART BASKET ANALYSIS"

In [40]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_derived.pkl'))

### Check dimensions of imported dataframe for consistency

In [41]:
ords_prods_merge.shape

(9918253, 19)

In [42]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,first_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both,Mid-range product,Regularly busy,Slowest days,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both,Mid-range product,Least busy,Slowest days,Average orders

## 2. Calculate Mean of Order Number

In [43]:
ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.393473
2     17.000546
3     17.216578
4     17.714601
5     14.958409
6     16.454727
7     17.325861
8     15.117326
9     16.027829
10    20.229811
11    16.453444
12    15.895358
13    16.692698
14    16.817133
15    16.133323
16    17.607401
17    15.936598
18    19.646685
19    17.216008
20    16.393918
21    22.580576
Name: order_number, dtype: float64

## 3. Analyze the result:  1.Compared to the results from the subset, the entire dataframe includes all'deparment_id' values.2. the mean values for the department id present in the subset are changed. 3. some values are increased and others decreased.

## 4. Creating a loyalty flag for existing customers.

###  using trnsform() function

In [44]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\tjsra\AppData\Local\Temp\ipykernel_18984\1681540670.py:1: FutureWarning: The provided callable <function max at 0x000002825DD14540> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

### View update dataframe.

In [45]:
ords_prods_merge.head(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,first_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both,Mid-range product,Least busy,Slowest days,Average orders,3
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,False,7,0,both,Mid-range product,Regularly busy,Busiest days,Average orders,26
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.0,False,2,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.0,False,1,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,12
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.0,False,1,0,both,Mid-range product,Regularly busy,Busiest days,Average orders,20
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.0,False,2,1,both,Mid-range product,Regularly busy,Busiest days,Most orders,20
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,NaN,True,1,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,10
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,7.0,False,1,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,43
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,7.0,False,3,1,both,Mid-range product,Least busy,Slowest days,Most orders,43
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,12.0,False,4,1,both,Mid-range product,Regularly busy,Regularly busy,Most orders,43
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,2.0,False,8,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,13
15,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,7,2,8,6.0,False,18,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,13
16,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,9,5,8,10.0,False,12,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,13
17,1,Chocolate Sandwich Cookies,61,19,5.8,200390,1540,4,2,0,7.0,False,10,0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,28
18,1,Chocolate Sandwich Cookies,61,19,5.8,374436,1540,5,1,21,6.0,False,9,1,both,Mid-range product,Regularly busy,Busiest days,Average orders,28
19,1,Chocolate Sandwich Cookies,61,19,5.8,2920553,1540,6,1,0,14.0,False,9,1,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,28

### Use loc() function to make loyalty flag column with given criteria

In [46]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [47]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [48]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

### Check frequency of values in new loyalty flag column

In [49]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    4865587
Loyal customer      3154279
New customer        1898387
Name: count, dtype: int64

### View updated data frame

In [50]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,...,first_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,False,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,False,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,False,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,True,10,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,3,New customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,False,11,1,both,Mid-range product,Least busy,Slowest days,Average orders,3,New customer

## 5. Look at Spendig Habits of Loyalty Groups.

### Use groupby() & agg() to determine basic statistics of spending habits by loyalty group

In [51]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer     9.435027  1.0  99999.0
New customer      12.705686  1.0  99999.0
Regular customer  11.675800  1.0  99999.0

### The average price of a product purchased by a new customer is more than that of loyal customer.

## 6. Create a spending flag for each user based on the average price

### Use trnsform() to determine the mean price of products purchased by each user

In [52]:
ords_prods_merge['mean_product_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\tjsra\AppData\Local\Temp\ipykernel_18984\72723565.py:1: FutureWarning: The provided callable <function mean at 0x000002825DD14F40> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['mean_product_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

### View relevant columns

In [53]:
ords_prods_merge[['user_id', 'mean_product_price']].head(20)

    user_id  mean_product_price
0       138            6.935811
1       138            6.935811
2       709            7.930208
3       764            4.972414
4       764            4.972414
5       777            6.935398
6       825            5.957576
7       910            6.680000
8      1052            7.162500
9      1052            7.162500
10     1379            5.813636
11     1480            5.081633
12     1480            5.081633
13     1480            5.081633
14     1494            6.803797
15     1494            6.803797
16     1494            6.803797
17     1540            6.607122
18     1540            6.607122
19     1540            6.607122

### Create spending flag column with given criteria using loc() function

In [54]:
ords_prods_merge.loc[ords_prods_merge['mean_product_price'] >= 10, 'spending_flag'] = 'High spender'

In [55]:
ords_prods_merge.loc[ords_prods_merge['mean_product_price'] < 10, 'spending_flag'] = 'Low spender'

### check frequency of new spending flag column

In [56]:
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     9736335
High spender     181918
Name: count, dtype: int64

### View relevant columns of updated data frame

In [57]:
ords_prods_merge[['user_id', 'mean_product_price', 'spending_flag']].head(20)

    user_id  mean_product_price spending_flag
0       138            6.935811   Low spender
1       138            6.935811   Low spender
2       709            7.930208   Low spender
3       764            4.972414   Low spender
4       764            4.972414   Low spender
5       777            6.935398   Low spender
6       825            5.957576   Low spender
7       910            6.680000   Low spender
8      1052            7.162500   Low spender
9      1052            7.162500   Low spender
10     1379            5.813636   Low spender
11     1480            5.081633   Low spender
12     1480            5.081633   Low spender
13     1480            5.081633   Low spender
14     1494            6.803797   Low spender
15     1494            6.803797   Low spender
16     1494            6.803797   Low spender
17     1540            6.607122   Low spender
18     1540            6.607122   Low spender
19     1540            6.607122   Low spender

## 7 Create an order frequency flag that marks the regularity of a user's ordering behaviour according to the median in the 'days_since_last_order' column.

### Use groupby and tranform to determine median number of days between orders for each user

In [58]:
ords_prods_merge['median_days_between_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_last_order'].transform(np.median)

C:\Users\tjsra\AppData\Local\Temp\ipykernel_18984\2532972549.py:1: FutureWarning: The provided callable <function median at 0x000002825DE50D60> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_days_between_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_last_order'].transform(np.median)

### View relevant columns of updated dataframe

In [59]:
ords_prods_merge[['user_id', 'days_since_last_order', 'median_days_between_orders']].head(20)

    user_id  days_since_last_order  median_days_between_orders
0       138                    3.0                         8.0
1       138                   20.0                         8.0
2       709                    6.0                         8.0
3       764                    NaN                         9.0
4       764                    9.0                         9.0
5       777                   26.0                        11.0
6       825                   30.0                        20.0
7       910                   30.0                         6.0
8      1052                   19.0                        10.0
9      1052                   15.0                        10.0
10     1379                    NaN                        20.0
11     1480                    7.0                         7.0
12     1480                    7.0                         7.0
13     1480                   12.0                         7.0
14     1494                    2.0                         7.0
15     1494                    6.0                         7.0
16     1494                   10.0                         7.0
17     1540                    7.0                         7.0
18     1540                    6.0                         7.0
19     1540                   14.0                         7.0

### Create order frequency flag based on given criteria using loc() function.

In [60]:
ords_prods_merge.loc[ords_prods_merge['median_days_between_orders'] > 20, 'order_frequency'] = 'Non-frequent customer'

In [61]:
ords_prods_merge.loc[(ords_prods_merge['median_days_between_orders'] <= 20) & (ords_prods_merge['median_days_between_orders'] > 10), 'order_frequency'] = 'Regular customer'

In [62]:
ords_prods_merge.loc[ords_prods_merge['median_days_between_orders'] <= 10, 'order_frequency'] = 'Frequent customer'

###  Check value counts of new order_frequency column

In [63]:
ords_prods_merge['order_frequency'].value_counts(dropna = False)

order_frequency
Frequent customer        6582166
Regular customer         2226335
Non-frequent customer    1109752
Name: count, dtype: int64

### View relevant columns of updated data frame.

In [64]:
ords_prods_merge[['user_id', 'days_since_last_order', 'median_days_between_orders', 'order_frequency']].head(25)

,user_id,days_since_last_order,median_days_between_orders,order_frequency
0,138,3.0,8.0,Frequent customer
1,138,20.0,8.0,Frequent customer
2,709,6.0,8.0,Frequent customer
3,764,NaN,9.0,Frequent customer
4,764,9.0,9.0,Frequent customer
5,777,26.0,11.0,Regular customer
6,825,30.0,20.0,Regular customer
7,910,30.0,6.0,Frequent customer
8,1052,19.0,10.0,Frequent customer
9,1052,15.0,10.0,Frequent customer
10,1379,NaN,20.0,Regular customer
11,1480,7.0,7.0,Frequent customer
12,1480,7.0,7.0,Frequent customer
13,1480,12.0,7.0,Frequent customer
14,1494,2.0,7.0,Frequent customer
15,1494,6.0,7.0,Frequent customer
16,1494,10.0,7.0,Frequent customer
17,1540,7.0,7.0,Frequent customer
18,1540,6.0,7.0,Frequent customer
19,1540,14.0,7.0,Frequent customer
20,1540,8.0,7.0,Frequent customer
21,1540,6.0,7.0,Frequent customer
22,1540,28.0,7.0,Frequent customer
23,1540,7.0,7.0,Frequent customer
24,1540,7.0,7.0,Frequent customer

In [65]:
ords_prods_merge['prices'].describe()

count    9.918253e+06
mean     1.116030e+01
std      4.168003e+02
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      9.999900e+04
Name: prices, dtype: float64

In [66]:
ords_prods_merge['prices'].mean()

11.160295709335092

In [67]:
ords_prods_merge['prices'].median()

7.4

In [68]:
ords_prods_merge['prices'].max()

99999.0

In [69]:
ords_prods_merge.loc[ords_prods_merge['prices'] > 100]

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_product_price,spending_flag,median_days_between_orders,order_frequency
4010767,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,912404,17,12,2,14,...,High-range product,Regularly busy,Regularly busy,Most orders,40,Regular customer,108.648299,High spender,5.0,Frequent customer
4010768,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,603376,17,22,6,16,...,High-range product,Regularly busy,Regularly busy,Most orders,40,Regular customer,108.648299,High spender,5.0,Frequent customer
4010769,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,3264360,135,2,2,21,...,High-range product,Regularly busy,Regularly busy,Average orders,4,New customer,1154.792308,High spender,12.0,Regular customer
4010770,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,892534,135,3,0,8,...,High-range product,Busiest day,Busiest days,Average orders,4,New customer,1154.792308,High spender,12.0,Regular customer
4010771,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,229704,342,8,1,19,...,High-range product,Regularly busy,Busiest days,Average orders,16,Regular customer,114.426619,High spender,23.0,Non-frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6670867,33664,2 % Reduced Fat Milk,84,16,99999.0,1129338,58405,13,1,10,...,High-range product,Regularly busy,Busiest days,Most orders,17,Regular customer,1603.034574,High spender,26.0,Non-frequent customer
6670868,33664,2 % Reduced Fat Milk,84,16,99999.0,190064,58405,15,5,17,...,High-range product,Regularly busy,Regularly busy,Average orders,17,Regular customer,1603.034574,High spender,26.0,Non-frequent customer
6670869,33664,2 % Reduced Fat Milk,84,16,99999.0,1842539,58405,16,0,16,...,High-range product,Busiest day,Busiest days,Most orders,17,Regular customer,1603.034574,High spender,26.0,Non-frequent customer
6670870,33664,2 % Reduced Fat Milk,84,16,99999.0,245547,58599,18,0,21,...,High-range product,Busiest day,Busiest days,Average orders,18,Regular customer,468.976037,High spender,7.0,Frequent customer
6670871,33664,2 % Reduced Fat Milk,84,16,99999.0,795062,62917,20,5,12,...,High-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,427.680672,High spender,7.0,Frequent customer

In [70]:
ords_prods_merge.loc[ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [71]:
ords_prods_merge['prices'].max()

25.0

## 8 Exporting Data

In [72]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_grouped.pkl'))